*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out ;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #E7E8E9;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.top-section{
    background-color: #1B1C1E;
    background-image: url(../../assets/bg.png);
    color: #E7E8E9;
    display: flex;
    padding: 0 100px;
    padding-top: 102px;
    align-items: center;
    .text{
        img{
            margin: 0 auto;
            display: flex;
            margin-bottom: 24px;
        }
        h1{
            font-family: 'Cabinet Grotesk';
            font-size: 64px;
            font-weight: 700;
            line-height: 79px;
            margin-bottom: 8px;
        }
        p{
            font-family: 'Moderat Trial';
            font-size: 18px;
            font-style: italic;
            font-weight: 401;
            line-height: 30px;
            max-width: 597px;
        }
        .author{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 16px;
            h6{
                font-family: 'Moderat Trial';
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
            }
            p{
                font-family: Moderat Trial;
                font-size: 16px;
                font-style: italic;
                font-weight: 401;
                line-height: 19px;
                margin-top: 8px;
            }
        }
    }
}
.biography{
    padding: 160px 100px;
    color: #1B1C1E;
    h3{
        font-family: 'Cabinet Grotesk';
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }
    p{
        font-family: 'Moderat Trial';
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 32px;
    }
    .biography-description{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 24px;
        h4{
            max-width: 437px;
            font-family: 'Moderat Trial';
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
        h5{
            font-family: 'Moderat Trial';
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            display: flex;
            gap: 7px;
        }
    }
}
.timeline{
    padding-bottom: 160px;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
        h3{
            font-family: 'Cabinet Grotesk';
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
        }
        p{
            font-family: 'Moderat Trial';
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 32px;
        }
        h4{
            font-family: 'Moderat Trial';
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }
    .wrapper{
        display: flex;
        gap: 32px;
        padding: 0 100px;
    }
}
.timeline-card{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    padding-left: 12px;
    padding-right: 14px;
    border-left: 2px solid #1B1C1E;
    border-right: 2px solid #1B1C1E;
    gap: 32px;
    .section{
        display: flex;
        gap: 24px;
        p{
            max-width: 279px;
            font-family: 'Moderat Trial';
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }
        h4{
            font-family: Cabinet Grotesk;
            font-size: 30px;
            font-weight: 700;
            line-height: 37px;
        }
    }
}
@media (max-width: 1400px) {
    .top-section{
        padding-left: 70px;
        padding-right: 70px;
        .text{
            h1{
                text-align: center;
            }
        }
    }
}
@media (max-width: 1277px) {
    .top-section{
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 600px) {
    .img{
        max-width: 90%;
    }
    .top-section .text .author h6{
        text-align: right;
    }
}
@media (max-width: 1426px) and (min-width:1413px ) {
 .biography .biography-description{
    .wedding{
        margin-left: 40px;
    }
 }   
}
@media (max-width: 1111px) {
    .about-wedding{
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
@media (max-width: 700px) {
    .biography{
        padding: 50px 20px;
    }
}
@media(max-width: 1370px) {
    .timeline .wrapper{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 1130px) {
    .timeline .header{
        flex-direction: column;
        margin-bottom: 30px;
        padding: 0 50px;
    }
    .timeline .wrapper{
        padding: 0 50px;
    }
}
@media (max-width: 512px) {
    .timeline .header{
        padding: 0 20px;
    }
    .timeline .wrapper{
        padding: 0 20px;
    }
}
@media (max-width: 460px) {
    .timeline-card .section{
        flex-direction: column;
        p{
            max-width: 95%;
        }
    }
    .timeline-img{
        max-width: 90%;
    }
}
@media (min-width: 1000px) {
    .top-section .text h1{
        white-space: nowrap;
    }
}
.queen{
    margin-bottom: -4px;
}