/*Pages*/
@import './pages/home.scss';

/*Components*/
@import './components/nav.scss';
@import './components/footer.scss';

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@font-face {
    font-family: 'Moderat Trial';
    src: url('../assets/Moderat-Trial-Regular/Moderat-Trial-Regular.otf');
}
@font-face{
    font-family: 'Cabinet Grotesk';
    src: url('../assets/CabinetGrotesk_Complete/Fonts/Variable/CabinetGrotesk-Variable.ttf');
}